.container {
  background: rgb(240, 170, 33, 0.6);
  height: 100vh;
  padding: 64px 16px 0;
  .box {
    background: white;
    border-radius: 12px;
    border: 2px solid #363b44;
    position: relative;
    .ninja {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translate(-50%, 0);
      width: 72px;
    }
    .score {
      font-size: 24px;
      margin: 32px 16px 24px;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid #363b44;
    padding: 8px;
    border-radius: 8px;
  }
}
